<div>
    <div id="title">
        <h2><img src="./img/logo.png">E-TOKK TECHNICAL TRAINING INSTITUTE<img src="./img/logo.png"></h2>
    </div>
    <div id="details">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/UYdRa2LsVHA"></iframe>
            </div>

    </div>
    <div class="bottom">
        <div id="foot">
            <div id="footimg">
                <a href=""><img src="./img/map.jpg"></a>
            </div>
            <div id="condetails">
                <h3>E-TOKK TECHNICAL</h3>
                <h4>582, Galle Road, Mount Lavinia,
                    Sri Lanka.</h4>
                <h4>+94712251841</h4>
                <h4>etokk@sltnet.lk</h4>
            </div>
        </div>
    </div>
</div>