<div>
    <div id="title">
        <h2><img src="./img/logo.png">E-TOKK TECHNICAL TRAINING INSTITUTE<img src="./img/logo.png"></h2>
    </div>
    <div class="sec2">
        <div class="layer1">
            <div class="course">
                <div class="Header">
                    <h2>Automobile Mechanic</h2>
                </div>
                    <p><h4>Course Type</h4>	Full Time</p>
                    <p><h4>Prerequisite</h4>	G.C.E. (O/L) Examination with 6 pass</p>
                    <p><h4> Medium</h4>	English Language</p>
                    <p><h4> Course Duration</h4>	2 years, incl. 9 months On-the-Job-Training</p>
                    <p><h4> Course Certificate</h4>	National Vocational Qualification Certificate ­– NVQ Level 4</p>
                    <p><h4> Course Objective (Purpose Of this Qualification)</h4>
                    To gain knowledge, skills and competencies of an Automobile Mechanic, e.g. to repair petrol/diesel fuel systems, ignition systems, transmission systems, engine cooling systems, and chassis electronic systems, including passenger safety & security systems.</p>
            </div>
            <div class="course">
                <div class="Header">
                    <h2>Construction Supervisor</h2>
                </div>
                <p><h4>Course Type</h4>	Full Time</p>
                <p><h4>Prerequisite</h4>	G.C.E. (O/L) Examination with 6 pass</p>
                <p><h4> Medium</h4>	English Language</p>
                <p><h4> Course Duration</h4>	2 years, incl. 9 months On-the-Job-Training</p>
                <p><h4> Course Certificate</h4>	National Vocational Qualification Certificate ­– NVQ Level 4</p>
                <p><h4> Course Objective (Purpose Of this Qualification)</h4>To gain knowledge, skills and competencies of a Construction Supervisor, e.g. supervision of construction work in the field of Civil Engineering, managing labour, embarkation of site, quality control in construction, communication with subordinates/supervisors, and safety maintenance.</p>
            </div>
        </div>
        <div class="layer2">
            <div class="course">
                <div class="Header">
                    <h2>Electrician</h2>
                </div>
                <p><h4>Course Type</h4>	Full Time</p>
                <p><h4>Prerequisite</h4>	G.C.E. (O/L) Examination with 6 pass</p>
                <p><h4> Medium</h4>	English Language</p>
                <p><h4> Course Duration</h4>	2 years, incl. 9 months On-the-Job-Training</p>
                <p><h4> Course Certificate</h4>	National Vocational Qualification Certificate ­– NVQ Level 4</p>
                <p><h4> Course Objective (Purpose Of this Qualification)</h4>To gain knowledge, skills and competencies of an Electrician, e.g. to prepare estimates for electrical installations, to carry out domestic single phase electrical installation, to install domestic safety/security and communications systems, to carry out inspection, testing, fault finding and repair in domestic electrical installations.</p>
            </div>
            <div class="course">
                <div class="Header">
                    <h2>Information & Communication Technician</h2>
                </div>
                <p><h4>Course Type</h4>	Full Time</p>
                <p><h4>Prerequisite</h4>	G.C.E. (O/L) Examination with 6 pass</p>
                <p><h4> Medium</h4>	English Language</p>
                <p><h4> Course Duration</h4>	2 years, incl. 9 months On-the-Job-Training</p>
                <p><h4> Course Certificate</h4>	National Vocational Qualification Certificate ­– NVQ Level 4</p>
                <p><h4> Course Objective (Purpose Of this Qualification)</h4>To gain knowledge, skills and competencies of an Information & Communication Technician, e.g. to install and implement database management system and database application packages, to design the concept & frame work for graphic design, to identify user requirements for software solution, to analyse requirements and design functionality of software solution, to develop and host websites, and to install and configure Local Area Network (LAN).</p>
            </div>
        </div>

    </div>

    <div class="bottom">
        <div id="foot">
            <div id="footimg">
                <a href=""><img src="./img/map.jpg"></a>
            </div>
            <div id="condetails">
                <h3>E-TOKK TECHNICAL</h3>
                <h4>582, Galle Road, Mount Lavinia,
                    Sri Lanka.</h4>
                <h4>+94712251841</h4>
                <h4>etokk@sltnet.lk</h4>
            </div>
        </div>
    </div>
</div>