<div>
    <div id="title">
        <h2><img src="./img/logo.png">E-TOKK TECHNICAL TRAINING INSTITUTE<img src="./img/logo.png"></h2>
    </div>
    <div class="sec2">
        <div class="left">
            <div class="news1">
                <img src="./img/news1.jpg">
                <p>
                    <h4>Happy Tamil & Sinhala New Year 2017</h4>
                    Happy Tamil & Sinhala New Year 2017 -  students and staff celebrated the New Year together, by showing the diversity, and the unity of Sri Lanka.
                </p>
            </div>
            <div class="news2">
                <img src="./img/news2.png">
                <p>
                <h4>Technical Motorbike Repair & Overhaul Workshop with David Pieris Motor Company</h4>

                    A sophisticated Two-Wheeler technical training programme was conducted by David Pieris Motor Company (DPMC) at the SLGTI Department of Automotive and Agricultural Technology.
                </p>
            </div>
            <div class="news3">
                <img src="./img/news3.jpg">
                <p>
                <h4>Welcome Day for 2nd batch</h4>

                The Sri Lanka-German Training Institute (SLGTI) welcomed the second student generation on the 6th of September 2017. We wish our 2nd batch a successful start at SLGTI.
                </p>
            </div>
        </div>
        <div class="right">
            <div class="news4">
                <img src="./img/news4.jpg">
                <p>
                    <h4>
                        First blood donation and health awareness programme at SLGTI
                    </h4>

                    SLGTI hosted its first blood donation and health awareness programme. The Event Committee organised this student activity and supported the blood donation event accordingly.
                </p>
            </div>
            <div class="news5">
                <img src="./img/news5.jpg">
                <p>
                    <h4>
                        German Ambassador Jörn Rohde visited Sri Lanka-German Training Institute as part of his official visit to GIZ projects in the North
                    </h4>

                    His Excellency Jörn Rohde, Ms Frau Sonia Lapointe, Mr Daniel Schreiber, and Ms Anushika Siva, visited the Sri Lanka-German Training Institute in June 2017.
                </p>
            </div>
            <div class="news6">
                <img src="./img/news6.jpg">
                <p>
                    <h4>
                        High-profile delegation at SLGTI
                    </h4>
                A High-profile delegation visited Sri Lanka–German Training Institute (SLGTI) and had a meeting with SLGTI and GIZ officials to discuss about the current progress and future plans of SLGTI.
                </p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div id="foot">
            <div id="footimg">
                <a href=""><img src="./img/map.jpg"></a>
            </div>
            <div id="condetails">
                <h3>E-TOKK TECHNICAL</h3>
                <h4>582, Galle Road, Mount Lavinia,
                    Sri Lanka.</h4>
                <h4>+94712251841</h4>
                <h4>etokk@sltnet.lk</h4>
            </div>
        </div>
    </div>
</div>